#clock {
    width: 300px;
    height: 300px;
    border:10px dashed #ccc;
    border-radius: 50%;
    position: fixed;        /*fixed to set up the position of the clock being relative to the browser*/
    margin: auto;
    top: 0;bottom: 0;left: 0;right: 0;
}   

#dot {
    width: 30px;
    height: 30px;
    background-color: lightcoral;
    border-radius: 50%;
    position: fixed;        /*fixed to set up the position of the clock being relative to the browser*/
    margin: auto;
    top: 0;bottom: 0;left: 0;right: 0;
}

/* define the animation of the clock */
@keyframes rotating {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

#minute {
    width: 70px;
    height: 10px;
    background-color: lightcyan;
    position: absolute; /*absolute to set up the position of the clock being relative to the parent element*/
    left:15px;
    top:10px;
    transform-origin: left;
    /* use the animation to rotate the clock */
    /*   animationName duration repeat speed-model*/
    animation:rotating 20s infinite linear;
}

#second {
    width: 120px;
    height: 10px;
    background-color: #20b2aa;
    position: absolute; /*absolute to set up the position of the clock being relative to the parent element*/
    left:15px;
    top:10px;
    transform: rotate(60deg); 
    transform-origin: left;
    animation: rotating 10s infinite linear;
}