#clock {
    width: 300px;
    height: 300px;
    border:10px dashed #ccc;
    border-radius: 50%;
    position: fixed;        /*fixed to set up the position of the clock being relative to the browser*/
    margin: auto;
    top: 0;bottom: 0;left: 0;right: 0;
}   

#dot {
    width: 20px;
    height: 20px;
    background-color: lightcoral;
    border-radius: 50%;
    position: fixed;        /*fixed to set up the position of the clock being relative to the browser*/
    margin: auto;
    top: 0;bottom: 0;left: 0;right: 0;
}

#minute {
    width: 70px;
    height: 10px;
    background-color: lightcyan;
    position: absolute; /*absolute to set up the position of the clock being relative to the parent element*/
    left:10px;
    top:5px
}

#second {
    width: 120px;
    height: 10px;
    background-color: lightseagreen;
    position: absolute; /*absolute to set up the position of the clock being relative to the parent element*/
    left:10px;
    top:5px;
    transform: rotate(60deg); 
    transform-origin: left;
}